@media(min-wdth: 768px) {
    .news{
        width: 50%;
    }
}
body::before {
    display: block;
    height: 60px;
    content: '';
} 
section::before{
    display: block;
    height: 70px;
    content: '';
}
section.picture{
    background-image: url(nexuz\ ceo.jpg);
    background-position: center;
    background-size: cover;
}
